<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="'/perfil/'" routerDirection="forward">
                <ion-icon name="contact" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Tus contenedores
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <!-- <ion-avatar> -->
                    <img src="../../assets/img/Contenedor Verde Claro.jpg">
                    <!-- </ion-avatar> -->
                </ion-col>
                <ion-col size="5">
                    <div text-start>
                        <p style="font-weight: bold; font-size: 18px; color: black;">Capacidad: </p>
                        <p style="font-weight: bold; font-size: 12px; color: cornflowerblue">Tamaño: <span>Grande</span> </p>

                    </div>
                </ion-col>
                <ion-col size="4">
                    <div text-end>
                        <p style="font-weight: bold; font-size: 18px; color: black;">30%</p>
                        <ion-progress-bar color="tertiary" value="0.3"></ion-progress-bar>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>


    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <!-- <ion-avatar> -->
                    <img src="../../assets/img/Contenedor Yellow.jpg">
                    <!-- </ion-avatar> -->
                </ion-col>
                <ion-col size="5">
                    <div text-start>
                        <p style="font-weight: bold; font-size: 18px; color: black;">Capacidad: </p>
                        <p style="font-weight: bold; font-size: 12px; color: cornflowerblue">Tamaño: <span>Mediano</span> </p>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div text-end>
                        <p style="font-weight: bold; font-size: 18px; color: black;"> 75%</p>
                        <ion-progress-bar color="tertiary" value="0.7"></ion-progress-bar>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>