<ion-content class="tutorial-page">
    <div padding text-end>
        <ion-button fill="clear" [routerLink]="'/login/'" routerDirection="forward">Saltar
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
    </div>

    <ion-slides pager="true">
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/img/recycle.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <br>
                        <h2>Bienvenido a B-Real</h2>
                        <p></p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/img/undraw_different_love_a3rg.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Contenedores inteligentes</h2>
                        <p>Nuesotros contenedores tienen sensores, los cuales nos indican cuándo pasaremos por ellos</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/img/undraw_road_sign_mfpo.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Unete al cambio por un mundo mas limpio</h2>
                        <p>Nosotros te ayudamos con la gestión de tu basura</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <!-- <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/fintech/png/004-visa.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Sin usar tu tarjeta en mano</h2>
                        <p>Continuacion de la funcion texto simulado</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide> -->

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/img/undraw_confirmation_2uy0.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>¿Estás listo?</h2>
                        <ion-button expand="block" color="dark" [routerLink]="'/login/'" routerDirection="forward">Comenzar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>